* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

div {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.mainPage {
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
}

.firstColumn {
  border-right: solid 1px black;
  width: 40%;
  word-break: break-all;
  background: whitesmoke;
  flex-direction: row;
  padding: 20px;
  height: 200vh;
}

.imgBlock {
  display: flex;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.list {
  list-style: none;
}

.listInRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.techSkill {
  margin-right: 10px;
}

.blockTitle {
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 3px;
  font-style: italic;
  font-size: 18px;
  border-bottom: solid 1px black;
}

.listItem {
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkLining {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactImage {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.secondColumn {
  width: 60%;
  /* padding-left: 15px; */
  padding: 20px;
}

.myName {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

.objective {
  text-align: center;
  margin-bottom: 25px;
}

.experience li {
  margin-bottom: 20px;
}

.workInRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.company {
  text-transform: uppercase;
}

.position {
  text-transform: capitalize;
}
